{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}Estelcon 2019 - {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        {% show_breadcrumb %}
                    </ol>
                    {% block dynamic_content %}{% endblock dynamic_content %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
