{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}Estelcon 2019 - {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<section class="bar background-white relative-positioned">
    <!-- <div class="container-fluid"> -->
      <!-- Carousel Start-->
      <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container-fluid">
          <div class="homepage owl-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <h1>Lugar del evento</h1>
                  <ul class="list-unstyled">
                    <li>La celebración de la Estelcon será en el Centro Espiritual de los Padres Paúles al lado de Salamanca</li>
                    <a href="/lugar" class="btn btn-template-outlined-white">Mas Info</a>
                  </ul>
                </div>
                <div class="col-md-7"><img src="{% static 'img/banner2.png' %}" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center"><img src="{% static 'img/banner3.png' %}" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h1>Ainulindalë</h1>
                  <ul class="list-unstyled">
                    <li>La música y la naturaleza. ¿Cómo es la creación de un mundo a la vez coral y musical?</li>
                    <li>¡Ven y descúbrelo en la XXIV Mereth Aderthad!</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <h1>EstelCon 2019</h1>
                  <ul class="list-unstyled">
                    <p>Ven con nosotros a celebrar <br>la reunión anual de la STE<br>Del 9 al 12 de mayo</p>
                    <a href="/lugar" class="btn btn-template-outlined-white">Mas Info</a>
                  </ul>
                </div>
                <div class="col-md-7"><img src="{% static 'img/banner1.png' %}" alt="" class="img-fluid"></div>
              </div>
            </div>
          
        </div>
      </div>
      <!-- Carousel End-->
    <!-- </div> -->
  </section>
  
  <div class="container">   
      <div class="main-content">
        <div class="container-fluid">
      {% placeholder "content" %}
      </div>
    </div>
  </div>
{% endblock content %}
