{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}Estelcon 2019 - {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" class="col-sm-3">
                    <button type="button" data-toggle="collapse" data-target="#side_nav" class="navbar-toggler btn-toggle-main side_menu_btn">Menú sección <i class="fa fa-caret-down"></i></button>
                    <div id="side_nav" class="navbar-collapse collapse side_nav">
                        <ul class="nav nav-pills flex-column">
                            {% show_menu 1 1 0 100 "menu.html" %}
                        </ul>
                    </div>
                </div>
                <div id="main-column" class="col-sm-9">
                    <ol class="breadcrumb">
                        {% show_breadcrumb %}
                    </ol>
                    <div class="heading">
                        <h1>{% page_attribute "page_title" %}</h1>
                    </div>
                    {% placeholder "content" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
