{% extends "base.html" %}

{% load cms_tags menu_tags staticfiles %}

{% block title %}Estelcon 2019 - {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" class="col-sm-3">
                    <ul class="nav nav-pills flex-column">
                        {% show_menu 1 1 0 100 "menu.html" %}
                    </ul>
                </div>
                <div id="main-column" class="col-sm-9">
                    <ol class="breadcrumb">
                        {% show_breadcrumb %}
                    </ol>
                    <div class="heading">
                        <h1>{% page_attribute "page_title" %}</h1>
                    </div>
                    <div id="map"></div>
                    <br>
                    {% placeholder "content" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALvQq8q6kAxXOa_190k5q4c5-SycxFzSk&callback=initMap"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/gmaps.init.js' %}"></script>
{% endblock js %}
