{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}Estelcon 2019 - {% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <ol class="breadcrumb">
                {% show_breadcrumb %}
            </ol>
            <div class="heading">
                <h1>{% page_attribute "page_title" %}</h1>
            </div>
            {% placeholder "content" %}
        </div>
    </div>
</div>    
{% endblock content %}
