{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
    <h1>Ficha personal</h1>
</div>
{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% endif %}

{% if payment_code and quota %}

  {% if not queue %}

  <p>¡Bienvenido/a a la Mereth Aderthad!</p>
  <p>Tu inscripción ha sido procesada, te hemos enviado un correo de confirmación. Si no lo ves, consulta tu bandeja de spam.</p>
  <p>El siguiente paso es realizar el pago. Debes realizar un ingreso de {{ quota }}€ en la cuenta del Instituto de Crédito Oficial
  ES10 0182 7386 8102 0854 5237, a nombre de Juan Carlos González Romero, indicando en el ingreso el
  código {{ payment_code }}.</p>
  <p>Por favor recuerda hacer el ingreso antes de 5 días. Si no se recibe el pago con anterioridad a esa fecha, tu
  plaza quedará anulada.</p>
  <p>Cuando hayamos verificado el pago, lo reflejaremos así en tu ficha.</p>
  {% comment %}
  <!--<p>Tu inscripción ha sido procesada. El siguiente paso sería realizar el pago, pero los pagos no están habilitados
  todavía, estamos terminando de cerrar las condiciones. En breve te enviaremos más instrucciones, recuerda tu importe
  de <strong>{{ quota }}€</strong> y tu código de inscripción <strong>{{ payment_code }}</strong>.</p>-->
  {% endcomment %}

  <p>Ahora puedes entrar en la página con el usuario y contraseña que acabas de
  indicar, para consultar tu ficha y apuntarte a las diferentes actividades.</p>

  {% else %}

  <p>¡Gracias por inscribirte en la Mereth Aderthad!</p>
  <p>Sin embargo, lamentamos comunicarte que el número de plazas máximo que teníamos establecido ha sido alcanzado, por
  lo que no podemos garantizar tu asistencia. ¡Lo sentimos muchísimo!</p>
  <p>Pero de todas formas, te ponemos en cola de espera por si aparece un hueco vacante y podemos dar paso a tu inscripción.
  Tu posición en la cola es la {{ queue }}. La cuota que te corresponde es de {{ quota }}€ y el código de pago es
  {{ payment_code }}, pero no hagas ningún ingreso todavía hasta que se pueda confirmar tu asistencia.</p>

  <p>Esperamos que tengas suerte y puedas disfrutar de esta Mereth Aderthad.</p>
  <p>Por ahora, puedes entrar en la página con el usuario y contraseña que acabas de indicar, para consultar la ficha
  y ver el estado de tu petición.</p>

  {% endif %}

{% else %}

<p>En esta sección podrás consultar y modificar los datos personales que introdujiste
al rellenar el formulario de inscripción, así como el estado de tu cuenta y las
actividades a las que te has apuntado. Y si eres colaborador, además, podrás proponernos
tus actividades y tendrás aceso a la información completa de las actividades que organizas.</p>

<p>Para poder ver todo esto, debes introducir ahora tu nombre de usuario y contraseña,
tal como los indicaste al rellenar el formulario. Si no lo has rellenado aún, puedes
hacerlo ahora entrando en el <a href="/inscripcion">Formulario de
inscripción</a>.</p>

{% endif %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">El usuario o contraseña son incorrectos. Por favor intentalo de nuevo.</div>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Usuario:</label>
            {{ form.username }}
            {% if form.username.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.username.errors|join:", " }}&nbsp;</b>{% endif %}
        </div>
        <div class="form-group">
            <label for="id_password">Contraseña:</label>
            {{ form.password }}
            {% if form.password.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password.errors|join:", " }}&nbsp;</b>{% endif %}
        </div>
        <div class="text-center">
            <input type="submit" value="entrar" class="btn btn-template-outlined" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>

        <p><a href="/olvido">¿Olvidaste la contraseña?</a></p>
        </form>
    </div>
</div>
{% endblock %}
