{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
<h1>Formulario de inscripción</h1>
</div>
{% if not signup_closed %}

    {% if form.errors %}
    <div class="card bg-light border-danger mb-3"><div class="card-body"><p>Ha habido algún problema, consulta los mensajes de error más abajo.</p></div></div>
    {% endif %}

    {# <div class="card bg-light border-primary"><div class="card-body"><p>Formulario en pruebas, los usuarios serán borrados hoy.</p></div></div> #}
    <p><b>La política de precios es la siguiente</b>: la inscripción completa incluye alojamiento y
    pensión completa desde la cena del jueves hasta la comida del domingo inclusive, más todos los
    gastos y actividades, y por supuesto la cena de gala del sábado.</p>

    <p>Para las personas que no puedan ir todos los días hemos habilitado también opciones de asistencia parcial. Desde cena de viernes a comida el domingo y desde comida de sábado a comida de domingo. <b>Todos los precios incluyen IVA.</b></p>

    <p>Existen 2 tipos de habitaciones: individual y compartida (dobles, salvo que se indique que se prefiere triples o cuádruples). Ambas tienen baño incluido.</p>

    <p>Para otros casos especiales contactad por favor con la organización.</p>

    <div class="row">
      <div class="col-md-9 offset-md-1">
        <table class="table" width="100%">
          <tr>
            <th></th>
            <th>Estelcon completa</th>
            <th>De viernes a domingo</th>
            <th>De sábado a domingo</th>
            <th>Camiseta</th>
          </tr>
          <tr>
            <th>En habitación individual</th>
            <td>170</td>
            <td>125</td>
            <td>92</td>
            <td>+12</td>
          </tr>
          <tr>
            <th>En habitación compartida</th>
            <td>160</td>
            <td>119</td>
            <td>89</td>
            <td>+12</td>
          </tr>
          <tr>
            <th>Niña/Niño (0-3 años)</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+12</td>
          </tr>
          <tr>
            <th>Niña/Niño (4-8 años)</th>
            <td>103</td>
            <td>82</td>
            <td>73</td>
            <td>+12</td>
          </tr>
          <tr>
            <th>Niña/Niño (9-12 años)</th>
            <td>138</td>
            <td>104</td>
            <td>83</td>
            <td>+12</td>
          </tr>

        </table>
      </div>
      <div class="col-md-6">
      </div>
    </div>

    <p><b>Descuentos y condiciones para niños y menores</b>:</p>
    <ul>
      <li>Menores de 18 años deben venir con sus padres o tener autorización.</li>
      <li>Menores de 12 años <b>tienen importantes descuentos (véase tabla superior)</b>.</li>
      <li>Menores de 3 años no tienen coste y no necesitan inscripción si no requieren
          cama propia ni comida (sí que hay que mencionarlos en el formulario de inscripción
          de sus padres).</li>
    </ul>

    <p><b>Plazos de inscripción:</b>
    <ul>
    <li>Fecha tope de inscripción: <b>lunes 8 de abril</b>.</li>
    <li>En caso de desistir de la plaza, del precio pagado de la EstelCon, se devolverá:
        <ul>
            <li>el 100% a los que comuniquen su baja antes del 8 de abril.</li>
            <li>el 50% a los que comuniquen su baja antes del 22 de abril.</li>
            <li>En casos de fuerza mayor que impidan la asistencia por favor
              contactar con la organización</li>
        </ul>
    </li>
    </ul>

    <p><b>El proceso de inscripción es el siguiente:</b></p>
    <ol>
      <li>Leer las <a href="/lugar/normas">normas de la EstelCon</a>.</li>
      <li>Rellenar este formulario. Los campos marcados con un * son obligatorios. Hay que indicar un
        usuario y contraseña que servirá para acceder después a la ficha personal, apuntarse a las
        actividades y modificar los datos si se desea.</li>
      <li>Se mostrará un código que hay que apuntar en el documento de pago. Por ejemplo, EC245.</li>
      <li>Recuerda que tienes 5 días desde la inscripción para realizar el ingreso y así asegurar tu plaza.
        Pasado ese tiempo, si no se ha producido el ingreso, es posible que tu plaza pase a otra persona.</li>
      <li>Haz el ingreso correspondiente en la cuenta bancaria que se indicará al completar la ficha.
        En el ingreso hay que indicar el código de pago apuntado en el paso anterior.</li>
      <li>Confirmaremos por mail en los días siguientes la recepción del pago. Entrando en la ficha personal
        aparecerá reflejado que hemos aceptado y comprobado el pago.</li>
      <li>Si deseas pagar por varias personas a la vez, hay que rellenar primero una ficha para cada uno,
        y en el ingreso indicar todos los códigos de pago. Se admite poner la misma dirección de correo de
        contacto en todas las fichas, si una persona quiere coordinar lo de todas.</li>
      <li>Los menores de edad, a partir de 3 años, deben rellenar su propia ficha, y además hay que
        mencionarlos en la ficha de sus padres o acompañante adulto.</li>
    </ol>
    <div class="card bg-light border-primary">
      <div class="card-body">
        MANTÉN INMÓVIL DURANTE 1 SEG. EL CURSOR DEL RATÓN SOBRE LOS TÍTULOS DE LOS RECUADROS DE TEXTO PARA OBTENER MÁS INFORMACIÓN.
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-6">
            <p title="Introduce un nombre corto y sin espacios. Será sensible a las mayúsculas y minúsculas.">
              <label for="id_username">Nombre de usuario: *</label>
              {{ form.username }}
              {% if form.username.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.username.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-6">
            <p title="Introduce tu dirección de correo electrónico.">
              <label for="id_email">Correo electrónico: *</label>
              {{ form.email }}
              {% if form.email.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.email.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>  
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <p title="Introduce una contraseña de al menos 5 caracteres de largo.">
              <label for="id_password1">Contraseña: *</label>
              {{ form.password1 }}
              {% if form.password1.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password1.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-6">
            <p title="Repite la contraseña para confirmar que está bien escrita.">
              <label for="id_password2">Confirmar contraseña: *</label>
              {{ form.password2 }}
              {% if form.password2.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password2.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>
        <div class="row">  
          <div class="form-group col-md-6">
            <p title="Introduce tu nombre.">
              <label for="id_first_name">Nombre: *</label>
              {{ form.first_name }}
              {% if form.first_name.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.first_name.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-6">
            <p title="Introduce tus apellidos.">
              <label for="id_last_name">Apellidos: *</label>
              {{ form.last_name }}
              {% if form.last_name.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.last_name.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <p title="Introduce tu pseudónimo en la STE, si lo tienes. Si no, puedes dejarlo en blanco.">
              <label for="id_alias">Pseudónimo:</label>
              {{ form.alias }}
              {% if form.alias.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.alias.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-6">
            <p title="Nombre del smial al que perteneces, o en blanco si no eres de la STE.">
              <label for="id_smial">Smial:</label>
              {{ form.smial }}
              {% if form.smial.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.smial.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <p title="Introduce un teléfono de contacto.">
              <label for="id_phone">Teléfono: *</label>
              {{ form.phone }}
              {% if form.phone.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.phone.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-7">
            <p title="Introduce la población donde resides habitualmente.">
              <label for="id_city">Población: *</label>
              {{ form.city }}
              {% if form.city.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.city.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-2">
            <p title="Recuerda que los menores necesitan venir con sus padres o una autorización firmada. Los niños de entre 3 y 5 años tienen un descuento en la inscripción, y los menores de 3 años no necesitan inscripción si no requieren cama ni comida.">
              <label for="id_age">Edad: *</label>
              {{ form.age }} <small class="form-text">Importante para menores.</small>
              {% if form.age.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.age.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <p title="Indica si vendrás en transporte privado o público, y en este caso, lugar y horario de llegada.">
            <label for="id_notes_transport">¿Cómo vas a venir? Indícanos si te interesa compartir coche e intentaremos ponerte en contacto con alguien</label>
            {{ form.notes_transport }}
            {% if form.notes_transport.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_transport.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>

        <hr>

        <div class="row">
          <div class="form-group col-md-6">
            <p title="Indica en qué tipo de habitación te vas a alojar. Si no te sirve ninguna de las opciones, pon 'otros' y contacta con la organización para ver el precio.">
              <label for="id_room_choice">Elige un tipo de alojamiento.</label>
              {{ form.room_choice }}
              {% if form.room_choice.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.room_choice.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>

          {% comment %}
          <script type="text/javascript">
            check_days = function() {
                var roomChoiceSelect = document.querySelector('#id_room_choice');
                var day1 = document.querySelector('#id_day_1');
                var day2 = document.querySelector('#id_day_2');
                var day3 = document.querySelector('#id_day_3');
                if (roomChoiceSelect.value === 'sin-alojamiento') {
                    day1.checked = false;
                    day2.checked = false;
                    day3.checked = false;
                } else {
                    if (day1.checked === false && day2.checked === false && day3.checked === false) {
                        day1.checked = true;
                        day2.checked = true;
                        day3.checked = true;
                    }
                }
            }

            // See http://youmightnotneedjquery.com/
            var roomChoiceSelect = document.querySelector('#id_room_choice');
            if (roomChoiceSelect.addEventListener) {
                roomChoiceSelect.addEventListener('change', check_days);
            } else {
                roomChoiceSelect.attachEvent('onchange', function() {
                    check_days.call();
                });
            }
          </script>
          {% endcomment %}
          {% comment %}
          <p>Indica las noches que vas a pasar en el hotel:</p>
          <table title="Si asistes a la Estelcon completa, marca todo. Si no, dinos qué noches pernoctas en el hotel, incluyendo las comidas como se indica arriba. Si eliges la opción sin alojamiento, no marques nada.">

              <label for="id_day_1">Viernes/Sábado<label>
              {{ form.day_1 }}
              {% if form.day_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>

              <label for="id_day_2">Sábado/Domingo<label>
              {{ form.day_2 }}
              {% if form.day_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>

              <label for="id_day_3">Domingo/Lunes + Cena de gala<label>
              {{ form.day_3 }}
              {% if form.day_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>

          <br/>
          {% endcomment %}
        <div class="row">
          <div class="form-group col-md-6">
            <p title="Si prefieres compartir habitación con alguien, o cualquier otro comentario al respecto, indicalo aquí (personas, identidad sexual, etc).">
              <label for="id_room_preferences">¿Tienes alguna preferencia sobre con quién compartir habitación (personas, identidad sexual, etc)?</label>
              {{ form.room_preferences }}
              {% if form.room_preferences.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.room_preferences.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
          <div class="form-group col-md-6">
            <p title="Indica si eres alérgico a algún alimento, vegetariano o cualquier otra condición especial.">
              <label for="id_notes_food">¿Tienes necesidades especiales respecto de las comidas?</label>
              {{ form.notes_food }}
              {% if form.notes_food.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_food.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <p title="Si tienes algúna condición especial (alérgico, vegetariano... elige otros)">
              <label for="id_dinner_menu">El plato principal de la cena de gala:</label>
              {{form.dinner_menu }}
              {% if form.dinner_menu.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.dinner_menu.errors|join:", " }}&nbsp;</b>{% endif %}
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="form-group col-md-6">
            <p title="Si traes niños a tu cargo, indica aquí cuántos son y sus nombres. Luego tendrás que rellenar una inscripción por cada uno (si tienen 3 años o más). Si venis los dos padres, sólo hace falta rellenar esta información una vez.">
              <span>¿Traes niños menores a tu cargo?</span><br>
              <label for="id_children_count">Nº de niños</label>
              {{ form.children_count }}
              {% if form.children_count.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.children_count.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </p>
          </div>
          <div class="form-group col-md-6">
              <label for="id_children_names">Nombres (uno por fila)</label>
              {{ form.children_names }}
              {% if form.children_names.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.children_names.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
        </div>  
        <hr>
        <div class="form-check">
          <p title="Indica si ya eres socio/a, con la cuota al día. Los menores de 16 años no pueden ser socios, así que si este es el caso marca la casilla como si fueras socio para que no se aplique el recargo.">
            {{ form.is_ste_member }}
            <label for="id_is_ste_member" class="form-check-label">¿Eres socio/a de la STE (o tienes menos de 16 años) a día de hoy?</label>       
            {% if form.is_ste_member.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.is_ste_member.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
        <div class="form-check">
          <p title="Como oferta de Estelcon, añadiendo 2€ a la inscripción te puedes convertir en socio/a de la STE, de cuota reducida (recibirías la revista por correo electrónico en lugar de en papel).">
            {{ form.want_ste_member }}
            <label for="id_want_ste_member" class="form-check-label">En caso de que no, ¿quieres asociarte por 12€ más?</label>
            {% if form.want_ste_member.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.want_ste_member.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
        <div class="form-check">
          <p title="Los escuderos son ayudantes voluntarios para echar una mano a la organización en tareas sencillas.">
            {{ form.squire }}
            <label for="id_squire" class="form-check-label">¿Quieres ser escudero en esta Estelcon?</label>
            {% if form.squire.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.squire.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>

       <div class="form-check">
          <p title="Indicanos si querrías participar como mentor o mentora hacia nuevos asistentes">
            {{ form.want_mentor }}
            <label for="id_want_mentor">Indicanos si querrías participar como mentor o mentora hacia nuevos asistentes:</label>
            {% if form.want_mentor.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.want_mentor.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>

        <div class="form-check">
          <p title="Indícanos si es tu primera Estelcon, tanto si llevas mucho o poco tiempo en la STE.">
            {{ form.first_estelcon }}
            <label for="id_first_estelcon" class="form-check-label">¿Es tu primera vez asistiendo a una Estelcon?</label>
            {% if form.first_estelcon.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.first_estelcon.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
        <div class="form-group">
          <p title="Escribe cualquier otra consideración que nos quieras comentar respecto de tu inscripción.">
            <label for="id_notes_general">¿Alguna otra necesidad que quieras compartir, o comentario?</label>
            {{ form.notes_general }}
            {% if form.notes_general.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_general.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
        <br>
        <hr>
        <p>Hay tres tipos de camisetas, unisex, mujer y niño. Para ver cómo es el diseño ganador de nuestra encuesta pública y las tallas, <a href="#shirt-modal" data-toggle="modal" data-target="#shirt-modal" class="">pulsa aquí</a>.</p>
        <p>Si vas a querer alguna camiseta, indícanos aquí la talla. También puedes, si lo deseas, reservar más de una,
        simplemente indicando la cantidad que quieres en la casilla o casillas correspondientes.</p>
        <p>El precio de las camisetas es de 12€, se entregarán junto con el Maratulmë (pack de bienvenida) de la EstelCon, cuando os registréis nada más llegar.</p>
        <p title="Indica cuántas camisetas quieres de cada talla.">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <label for="id_shirts_S_1">Camisetas talla S: </label>
            </div>
            <div class="col-md-2">
              <label for="id_shirts_M_1">Camisetas talla M: </label>
            </div>
            <div class="col-md-2">
              <label for="id_shirts_L_1">Camisetas talla L: </label>
            </div>
            <div class="col-md-2">
              <label for="id_shirts_XL_1">Camisetas talla XL: </label>
            </div>
            <div class="col-md-2">
                <label for="id_shirts_XXL_1">Camisetas talla XXL: </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Unisex
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_S_1 }}
              {% if form.shirts_S_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_M_1 }}
              {% if form.shirts_M_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_L_1 }}
              {% if form.shirts_L_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_XL_1 }}
              {% if form.shirts_XL_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_XXL_1 }}
              {% if form.shirts_XXL_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Mujer
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_S_2 }}
              {% if form.shirts_S_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_M_2 }}
              {% if form.shirts_M_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_L_2 }}
              {% if form.shirts_L_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_XL_2 }}
              {% if form.shirts_XL_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_XXL_2 }}
              {% if form.shirts_XXL_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Niño
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_S_3 }}
              {% if form.shirts_S_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_M_3 }}
              {% if form.shirts_M_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_L_3 }}
              {% if form.shirts_L_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_XL_3 }}
              {% if form.shirts_XL_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
            <div class="form-group col-md-2">
              {{ form.shirts_XXL_3 }}
              {% if form.shirts_XXL_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
            </div>
          </div>
       <div class="form-check">
          <p title="Importante: queremos saber si tienes inconveniente en el uso posterior del material audiovisual por parte de la STE">
            {{ form.want_media }}
            <label for="id_want_media"><strong>Importante (opcional):</strong> Doy mi consentimiento para que la Sociedad Tolkien Española utilice el contenido que pueda ser grabado durante la Estelcon 2019 -y en la cual aparezco- en medios de difusión públicos o privados de la asociación y como parte del contenido de la misma.</label>
            {% if form.want_media.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.want_media.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>

        </p>
        <input type="submit" value="enviar" class="btn btn-primary btn-lg"/>
        <hr>
        <p><small>En cumplimiento de la Ley de Protección de Datos, te informamos que los datos aquí introducidos
        serán incorporados a un fichero automatizado, que obrará en poder de la Sociedad Tolkien Española
        (nº 112532 en el Registro de Asociaciones del Ministerio del Interior) y será utilizado exclusivamente
        para gestionar la asistencia y las actividades de la EstelCon, siendo destruido al finalizar la misma.
        Puedes ejercer tus derechos de acceso, rectificación, cancelación y oposición en esta misma web, donde
        puedes consultarlos y modificarlos con los formularios correspondientes, o bien dirigirte a los
        organizadores de la EstelCon tal como se indica en la sección de contacto.</small></p>
        </form>
      </div>
    </div>
{% else %}

    <!-- <p><b>El proceso de inscripción está cerrado</b></p> -->
    <!--  -->
    <!-- <p>Una vez superado el plazo de inscripción, ya no se admiten nuevas incorporaciones. Agradecemos mucho -->
    <!-- tu interés y esperamos que te unas a nosotros en próximos encuentros.</p> -->

  <div class="card">
    <div class="card-body">
      <p><b>El período de inscripción ha concluido.</b></p>
      <p>Para cualquier duda o petición, por favor escribenos a <a href="mailto:estelcon@sociedadtolkien.org">estelcon@sociedadtolkien.org</a></p>
    </div>
  </div>
{% endif %}
{% endblock %}
