{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
  <h1>Ficha personal</h1>
</div>
<div class="btn_salir"><a href="/salida">Desconectar</a></div>

{% if messages %}
  {% for message in messages %}
    <h3 class="message">{{ message }}</h3>
  {% endfor %}
{% endif %}
<div class="row">
  <div class="col-md-6">
    <h4>DATOS PERSONALES (<a href="{% url 'user-profile-edit-personal' %}">modificar</a>):</h4>
    <p>
      <b>Nombre y apellidos</b>: {{ user.first_name }} {{ user.last_name }}<br/>
      <b>Correo electrónico</b>: {{ user.email }}<br/>
      <b>Nombre de usuario en la web</b>: {{ user.username }}<br/>
      {% if profile.alias %}
        <b>Pseudónimo en la STE</b>: {{ profile.alias }}<br/>
      {% endif %}
      {% if profile.smial %}
        <b>Smial</b>: {{ profile.smial }}<br/>
      {% endif %}
      <b>Teléfono</b>: {{ profile.phone }}<br/>
      {% if profile.city %}
        <b>Población</b>: {{ profile.city }}<br/>
      {% endif %}
      <b>Edad</b>: {{ profile.age }}
    </p>

    {% if owned_by or organized_by or participant_in %}
      <hr>
    {% endif %}

    {% if owned_by %}
      <div class="card">
        <div class="card-header">
          <h4>Eres RESPONSABLE de las siguientes actividades:</h4>
        </div>
        <div class="card-body">
          {% for activity in owned_by %}
            {% if not forloop.first %}<br/>{% endif %}
            <a href="/actividad/{{ activity.id }}">{{ activity.title }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if organized_by %}
      <div class="card">
        <div class="card-header">
          <h4>Eres ORGANIZADOR de las siguientes actividades:</h4>
        </div>
        <div class="card-body">
          {% for activity in organized_by %}
            {% if not forloop.first %}<br/>{% endif %}
            <a href="/actividad/{{ activity.id }}">{{ activity.title }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if participant_in %}
      <div class="card">
        <div class="card-header">
          <h4>Estás inscrito en las siguientes actividades:</h4>
        </div>
        <div class="card-body">
          {% for activity in participant_in %}
            {% if not forloop.first %}<br/>{% endif %}
            <a href="/actividad/{{ activity.id }}">{{ activity.title }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if activities_to_participate %}
      <hr>
      <p><b>Actividades que requieren inscripción</b>:</p>
      <p>Las siguientes actividades necesitan que te inscribas previamente antes de poder participar, puesto que
      sus organizadores deben saber cuánta gente las quiere realizar. Desde aquí puedes consultar las actividades
      y luego inscribirte, si lo deseas</p>
      <p>
        {% for activity in activities_to_participate %}
        {% if not forloop.first %}<br/>{% endif %}
        <b>{{ activity.title }}</b> (<a href="/actividad-inscribir/{{ activity.id }}">ver e inscribir</a>)
        {% endfor %}
      </p>
    {% else %}
      {% if not participant_in %}
        <p><b>En la actualidad, no hay actividades que requieren inscripción.</b></p>
      {% else %}
        <p><b>Ya no hay más actividades que requieren inscripción.</b></p>
      {% endif %}
    {% endif %}

    <hr>

    <h4>¿Quieres participar?</h4>
    <div class="card">
      <div class="card-body">
        ¡No te limites a mirar! ¿Te apetece unirte a los organizadores de esta fiesta? Asegúrate de leer
        la sección <a href="/mereth-aderthad/como-participar">¿Cómo participar?</a>, y luego haznos una
        <a href="/propuesta">propuesta de actividad</a>.
        {% comment %}
        <p>También puedes usar este formulario para informarnos de artículos para su venta en la Esteltienda.</p>
        {% endcomment %}
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <h4>DATOS DE INSCRIPCIÓN (<a href="/ficha-editar-inscripcion">modificar</a>):</h4>
    {% comment %}
    <p><b>Días de asistencia</b><br/>
    - Viernes/Sábado: {% if profile.day_1 %} sí {% else %} no {% endif %}<br/>
    - Sábado/Domingo: {% if profile.day_2 %} sí {% else %} no {% endif %}<br/>
    - Domingo/Lunes + Cena: {% if profile.day_3 %} sí {% else %} no {% endif %}<br/>
    </p>
    {% endcomment %}
    <p><b>Estado de la inscripción</b><br/>
    {{ profile.payment }}<p>
    {% if profile.notes_food %}
      <p><b>¿Tienes necesidades especiales respecto de las comidas?</b>:<br/>
      {{ profile.notes_food|linebreaksbr }}<p>
    {% endif %}
    {% comment %}
    {% if profile.dinner_menu %}
      <p><b>Plato elegido para la cena de gala</b>:<br/>
      {{ profile.dinner_menu }}<p>
    {% endif %}
    {% endcomment %}
    {% if profile.notes_transport %}
      <p><b>¿Cómo vas a venir?</b>:<br/>
      {{ profile.notes_transport|linebreaksbr }}<p>
    {% endif %}
    <p><b>¿Vas a ser mentora o mentor?</b>: {% if profile.want_mentor %}sí{% else %}no{% endif %}</p>
    {% if profile.room_choice %}
      <p><b>Tipo de alojamiento</b>:<br/>
      {{ profile.room_choice }}<p>
    {% endif %}
    {% if profile.room_preferences %}
      <p><b>Preferencias de alojamiento</b>:<br/>
      {{ profile.room_preferences|linebreaksbr }}<p>
    {% endif %}
    {% if profile.children_names %}
      <p><b>Niños a tu cargo</b>:<br/>
      {{ profile.children_names|linebreaksbr }}<p>
    {% endif %}
    <p><b>¿Eres socio/a de la STE?</b>: {% if profile.is_ste_member %}sí{% else %}no{% endif %}</p>
    {% if not profile.is_ste_member %}
        <p><b>¿Te quieres hacer en esta Estelcon?</b>: {% if profile.want_ste_member %}sí{% else %}no{% endif %}</p>
    {% endif %}
    <p><b>¿Quieres ser escudero?</b>: {% if profile.squire %}sí{% else %}no{% endif %}</p>
    <p><b>¿Es tu primera Estelcon?</b>: {% if profile.first_estelcon %}sí{% else %}no{% endif %}</p>
    <p><b>¿Autorizas a la STE a usar tu imagen en material audiovisual posterior?</b>: {% if profile.want_media %}sí{% else %}no{% endif %}</p>
    {% if profile.notes_general %}
      <p><b>¿Algún otro comentario?</b>:<br/>
      {{ profile.notes_general|linebreaksbr }}<>
    {% endif %}
    <p>
      <b>Reserva de camisetas</b><br/>
      {% if not profile.shirts_S_1 and not profile.shirts_M_1 and not profile.shirts_L_1 and not profile.shirts_XL_1 and not profile.shirts_XXL_1 and not profile.shirts_S_2 and not profile.shirts_M_2 and not profile.shirts_L_2 and not profile.shirts_XL_2 and not profile.shirts_XXL_2 and not profile.shirts_S_1 and not profile.shirts_M_1 and not profile.shirts_L_1 and not profile.shirts_XL_1 and not profile.shirts_XXL_1 %}
        No has reservado ninguna camiseta. Puedes reservar si quieres pulsando el enlace 'modificar' más arriba.
      {% else %}
        Has reservado las siguientes camisetas:
        {% if profile.shirts_S_1 %}<br> * {{ profile.shirts_S_1 }} de talla S (unisex).{% endif %}
        {% if profile.shirts_M_1 %}<br> * {{ profile.shirts_M_1 }} de talla M (unisex).{% endif %}
        {% if profile.shirts_L_1 %}<br> * {{ profile.shirts_L_1 }} de talla L (unisex).{% endif %}
        {% if profile.shirts_XL_1 %}<br> * {{ profile.shirts_XL_1 }} de talla XL (unisex).{% endif %}
        {% if profile.shirts_XXL_1 %}<br> * {{ profile.shirts_XXL_1 }} de talla XXL (unisex).{% endif %}
        {% if profile.shirts_S_2 %}<br> * {{ profile.shirts_S_2 }} de talla S (mujer).{% endif %}
        {% if profile.shirts_M_2 %}<br> * {{ profile.shirts_M_2 }} de talla M (mujer).{% endif %}
        {% if profile.shirts_L_2 %}<br> * {{ profile.shirts_L_2 }} de talla L (mujer).{% endif %}
        {% if profile.shirts_XL_2 %}<br> * {{ profile.shirts_XL_2 }} de talla XL (mujer).{% endif %}
        {% if profile.shirts_XXL_2 %}<br> * {{ profile.shirts_XXL_2 }} de talla XXL (mujer).{% endif %}
        {% if profile.shirts_S_3 %}<br> * {{ profile.shirts_S_3 }} de talla S (niño).{% endif %}
        {% if profile.shirts_M_3 %}<br> * {{ profile.shirts_M_3 }} de talla M (niño).{% endif %}
        {% if profile.shirts_L_3 %}<br> * {{ profile.shirts_L_3 }} de talla L (niño).{% endif %}
        {% if profile.shirts_XL_3 %}<br> * {{ profile.shirts_XL_3 }} de talla XL (niño).{% endif %}
        {% if profile.shirts_XXL_3 %}<br> * {{ profile.shirts_XXL_3 }} de talla XXL (niño).{% endif %}
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
