{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
  <h1>Inscripción en actividad</h1>
</div>
{% if messages %}
  {% for message in messages %}
    <h3 class="message">{{ message }}</h3>
  {% endfor %}
{% endif %}

{% if not activity %}

  <p>No se encuentra la actividad.</p>

{% else %}

  {% if can_subscribe %}

    <h2>{{ activity.title }}</h2>
    {% if activity.subtitle %}
      <h3>{{ activity.subtitle }}</h3>
    {% endif %}

    {% if activity.show_owners and activity.owners.all %}
      Coordinada por: <em>
      {% for owner in activity.owners.all %}
        {% if not forloop.first and not forloop.last %}, {% endif %}
        {% if not forloop.first and forloop.last %} y {% endif %}
        {{ owner.get_full_name }} {% if owner.profile.alias %}"{{ owner.profile.alias }}"{% endif %}
      {% endfor %}
      </em>
    {% endif %}

    {% if activity.text %}
      <p>{{ activity.text|safe|linebreaks }}</p>
    {% endif %}

    <form method="post" action="{% url 'activity-subscribe' activity_id=activity.id %}">
      {% csrf_token %}
      {{ form.id }} {{ form.title }}
      <p>Vas a inscribirte como participante en esta actividad. Sus organizadores recibirán un aviso
      y probablemente se pondrán en contacto contigo más adelante para confirmar tu participación y
      concretar el resto de detalles necesarios para participar.</p>
      <p>
        <input type="submit" value="Confirmar inscripción" class="btn btn-template-outlined"/>
      </p>
    </form>

  {% else %}

      <p>No te puedes inscribir porque ésta no es una actividad que requiera inscripción, o bien eres
      el organizador o ya te has suscrito anteriormente.</p>

  {% endif %}

{% endif %}

<div align="right"><a href="javascript:history.back()" class="btn btn-template-outlined">Volver atrás</a></div>

{% endblock %}
